
$c-h1: #0e0e2c;
$c-h2: #0E0E2C;
$c-bc-router: #F8F8F8;
$c-bc-lg: #fff;
$c-bc-nav: #494748;
$c-bc-record1: #e2e2e2;
$c-bc-record2: #f1f1f1;

$c-input-lg: #d9d9d9;   
$c-btn-sc: #16822D; //succes
$c-btn-cc: #BE1937 ;

$c-waiting: #FEA853;
$c-success: #5FB871; //succes

$px-h1: 36px;
$px-h2: 26px;
$px-h3: 23px;

$px-txt-input: 23px;
$px-w-input: 370px;
$px-h-input: 60px;
$px-mrg-input: 10px 0 0 0;
$px-pdd-input: 0 15px;

$px-txt-a: 18px;
$px-txt-w-a: 700;

$px-txt-btn: 23px;
$px-w-btn: 400px;
$px-h-btn: 60px;
$px-mrg-btn: 15px 5px 0 5px;
$px-pdd-btn: 0 15px;

$px-w-lg-form: 450px;
$px-h-lg-form: 450px;

$opacity-bc1-lg: 0.7;
$opacity-bc2-lg: 0.05;