
$c-h1: #0e0e2c;
$c-h2: #0e0e2cb3;
$c-bc-lg: #fff;
$c-bc-nav: #494748;
$c-input-lg: #d9d9d9;

$px-h1: 36px;
$px-h2: 23px;
$px-w-input: 626px;
$px-h-input: 60px; //buttons too

$opacity-bc1-lg: 0.7;
$opacity-bc2-lg: 0.05;
