@use '../abstracts/variables';

.request__container,
.committe__container{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  overflow-y: hidden;
  transition: all ease-in 0.2s;

  button {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    appearance: none;
    background-color: #178a9e;

    margin: variables.$px-mrg-btn;
    padding: variables.$px-pdd-btn + 2px;

    border-radius: 10px;
    border: solid 2px #8686868f;

    width: 30%;
    height: variables.$px-h-btn;

    background-color: #dadada;

    transition: 0.2s;

    &:hover {
      cursor: pointer;
      transform: scale(1.01);
      box-shadow: 5px 5px 15px #4e65885d;

      background-color: #7da0d496;
      border: #7da0d4 solid 2px;

      //text-decoration: underline;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__display,
  &__display {
    display: flex;
    align-items: center;
    flex-direction: column;

    overflow-y: hidden;
    overflow-x: hidden;

    height: 100%;
    width: 100%;

    border-radius: 10px;

    &__controllers {

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;

      padding: 15px;

      button img {
        object-fit: contain;
        width: 30px;
        color: #dadada;
      }
    }

    &__list {

      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 10px 0;

      height: 100%;
      width: 100%;

      overflow-y: scroll;

      &::-webkit-scrollbar {
        appearance: none;
      }

      &::-webkit-scrollbar:vertical {
        width: 10px;
      }

      &::-webkit-scrollbar:horizontal {
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        border: 2px solid #f1f2f3;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }
    }
  }

  &__preview {

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    
    height: 100%;
    width: 70%;
    
    background-color: #dadada;
    h2{
      display: none;
      padding: 20px 0 0 0;
    }
  }
}