@use '../abstracts/variables';
.progressbar {

  margin: 10px 20px;
  width: 100%;
  height: 15px;

  border-radius: 5px;

  background-color: #ffffff;

  &--content {
    width: 40%;
    height: 100%;

    border-radius: 5px;
    background-color: rgb(49, 148, 24);

    transition: all 0.3s;
  }
}
.create-state{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 149, 0.432);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .create-carousel{
    display: flex;
    width: 100%;
    height: 100%;
    .students{
      display: none;
      width: 100%;
      height: 100%;
      background-color: #87960650;
    }
    .tutor{
      display: none;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
    }
    .company{
      //display: none;
      width: 100%;
      height: 100%;
      background-color: #8d141467;
    }
    
  }
}