.navbar{

    display: flex;
    justify-content: center;

    background-color: #494748;
    width: 10%;

    img{
        margin-top: 30px;
        width: 88px;
        height: 100px;
        object-fit: contain;
    }
}