.navbar{

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 10%;

    background-color: #494748;

    img{
        margin-top: 30px;
        width: 88px;
        height: 100px;
        object-fit: contain;
    }
}