.request__container__preview__form {
  display: flex;
  //justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 18%;

  height: 100%;
  width: 100%;

  input,
  select{
    margin: 5px 0;
    padding: 5px;
    width: 100%;

    appearance: none;
    border: #7da0d4 solid 2px;

    transition: all 0.1s;

    &:focus {
      border-radius: 10px;
      box-shadow: 0 1px 1px hsla(216, 50%, 66%, 0.075)nset, 0 0 8px hsla(216, 50%, 66%, 0.6);
      outline: 0 none;
    }

  }

  p {
    width: 100%;
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
  }
}