@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.login__form {
  display: flex;
  justify-content: center;
  width: 680px;
  height: 560px;
  border-radius: 10px;
  opacity: 0.9;
  background-color: #fff;
}
.login__form .login__form__welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 32px;
  opacity: 1;
  width: 100%;
}
.login__form .login__form__welcome h1 {
  font-size: 36px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.login__form .login__form__welcome h2 {
  align-self: center;
  margin-top: 25px;
  width: 300px;
  font-size: 23px;
  opacity: 0.7;
}
.login__form .login__form__mail,
.login__form .login__form__password {
  opacity: 1;
  margin-top: 10px;
}
.login__form .login__form__mail h2,
.login__form .login__form__password h2 {
  margin-top: 40px;
  opacity: 1;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.login__form .login__form__mail input,
.login__form .login__form__password input {
  margin-top: 10px;
  padding: 0 15px;
  height: 60px;
  width: 95%;
  border-radius: 10px;
  border: none;
  font-size: 23px;
  appearance: none;
  background-color: #d9d9d9;
}
.login__form button {
  margin-top: 45px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 60px;
  appearance: none;
  background-color: #0e0e2c;
  color: #d9d9d9;
  font-size: 23px;
  transition: 0.2s;
}
.login__form button:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 5px 5px 15px black;
}
.login__form button:active {
  background-color: #d9d9d9;
  color: #0e0e2c;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 10%;
  background-color: #494748;
}
.navbar img {
  margin-top: 30px;
  width: 88px;
  height: 100px;
  object-fit: contain;
}
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  list-style: none;
}
.navbar__list__element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 90%;
  border-bottom: 1px #fff solid;
  transition: 0.2s;
}
.navbar__list__element a {
  color: #fff;
  text-decoration: none;
}
.navbar__list__element:hover {
  transform: scale(1.02);
}
.navbar__list__element:hover::before {
  content: "→";
  color: #fff;
  padding-right: 2px;
}

.router {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 90%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.router h1 {
  padding: 15px 250px;
  border-bottom: solid 1px rgba(14, 14, 44, 0.7019607843);
}
.router .container {
  display: flex;
  margin: 25px 0 0 25px;
  height: 80%;
  width: 100%;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.router .container .list {
  width: 50%;
  overflow-y: auto;
  padding: 20px;
}
.router .container .list .record {
  margin-top: 20px;
  padding: 5px;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  background-color: aliceblue;
  box-shadow: -2px 2px 6px #000;
  transition: 0.2s;
}
.router .container .list .record:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.router .container .list .record:active {
  transform: scale(1.03);
}
.router .container .preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 50%;
}

.app {
  display: flex;
  justify-content: space-between;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 625px;
  background-image: url("../imgs/login-bk02.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=main.css.map */
