*{margin: 0; padding: 0}
@import './abstracts/_variables.scss';

@import './base/_typography.scss';

@import './components/loginform';
@import './components/navbar';
@import './components//recod';
@import './pages/router';

@import'./pages/app';
@import './pages/login';